streamlit==1.45.1
groq==0.28.0
pydantic==2.11.5
pandas==2.2.3
python-dotenv==1.1.0
emoji==2.14.1
openpyxl==3.1.5
plotly==5.24.1
google-generativeai==0.8.3
reportlab==4.2.2
matplotlib
fastapi==0.115.5
uvicorn==0.32.1
python-multipart==0.0.12
filelock==3.16.1
python-jose[cryptography]==3.3.0
pwdlib[argon2]==0.2.1
pydantic[email]
jinja2==3.1.4
xhtml2pdf==0.2.17
requests==2.32.3
slowapi==0.1.9
python-json-logger==2.0.7
chromadb==1.5.9
sentence-transformers==3.0.1
scikit-learn==1.9.0
numpy==2.4.6